workflows/5-apply-outreach.json
{
  "id": "job-automation-w5",
  "name": "5 - Apply & Outreach",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Applications", "mode": "list", "cachedResultName": "Applications" },
        "event": "rowUpdate",
        "options": {}
      },
      "id": "w5-trigger",
      "name": "On Approve (row update)",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": { "googleSheetsTriggerOAuth2Api": { "name": "Google Sheets Trigger account" } },
      "notes": "Polls the Applications sheet. Set an 'approve' column to TRUE on the row you want to apply to."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.approve }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "w5-if-approved",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "claude-3-5-sonnet-20241022", "mode": "list" },
        "options": { "temperature": 0.4 }
      },
      "id": "w5-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [460, 220],
      "credentials": { "anthropicApi": { "name": "Anthropic account" } }
    },
    {
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"subject\": \"...\",\n  \"body\": \"...\"\n}"
      },
      "id": "w5-parser",
      "name": "Email Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [640, 220]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=tailored_resume_json: {{ $json.tailored_resume_json }}\njd_text: {{ $json.jd_text }}\ncompany: {{ $json.company }}\nrole: {{ $json.role }}\ncontact_name: {{ $json.contact_name }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You write concise, specific cold emails and cover letters for job\napplications. You never fabricate experience — you only use what's in the\ncandidate's tailored resume and the JD.\n\nYou will receive:\n- tailored_resume_json\n- jd_text, company, role\n- contact_name (if known) or generic greeting otherwise\n\nWrite a short email (120–180 words):\n1. One line: who you are and why this specific role at this specific company\n   (reference something concrete from the JD or company, not generic praise)\n2. 2–3 sentences connecting your strongest, most relevant real experience to\n   their stated needs\n3. A clear, low-friction call to action (e.g. \"happy to share more or jump on\n   a quick call\")\n\nTone: direct, confident, not desperate, no filler phrases like \"I am writing\nto express my interest.\" No clichés (\"team player,\" \"passionate about\").\n\nOutput JSON: {\"subject\": \"...\", \"body\": \"...\"}"
            }
          ]
        }
      },
      "id": "w5-draft",
      "name": "Draft Outreach",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [460, 0]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "w5-approval",
      "name": "Human Approval Gate",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [760, 0],
      "notes": "Review the drafted email before it sends. Resume via the Wait node's resume URL (send it to yourself over Telegram/Email) to approve."
    },
    {
      "parameters": {
        "sendTo": "={{ $json.contact_email }}",
        "subject": "={{ $('Draft Outreach').item.json.output.subject }}",
        "message": "={{ $('Draft Outreach').item.json.output.body }}",
        "options": {
          "attachmentsUi": { "attachmentsBinding": [{ "property": "data" }] }
        }
      },
      "id": "w5-send",
      "name": "Send Email + Resume",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [980, 0],
      "credentials": { "gmailOAuth2": { "name": "Gmail account" } },
      "notes": "Attach the finalized resume PDF (from W2) as binary 'data' before this node."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Applications", "mode": "list", "cachedResultName": "Applications" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $json.company }}",
            "role": "={{ $json.role }}",
            "status": "Applied",
            "date_applied": "={{ $now.format('yyyy-MM-dd') }}",
            "channel": "email"
          },
          "matchingColumns": ["company", "role"]
        },
        "options": {}
      },
      "id": "w5-update",
      "name": "Update Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1200, 0],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "e1", "name": "event_type", "value": "application_sent", "type": "string" },
            { "id": "e2", "name": "company", "value": "={{ $json.company }}", "type": "string" },
            { "id": "e3", "name": "role", "value": "={{ $json.role }}", "type": "string" },
            { "id": "e4", "name": "details", "value": "=Application emailed to {{ $json.company }} for {{ $json.role }}.", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "w5-notify-set",
      "name": "Prep Notify",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1420, 0]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "job-automation-w8", "mode": "id" },
        "options": {}
      },
      "id": "w5-notify",
      "name": "Notify (W8)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1640, 0]
    }
  ],
  "connections": {
    "On Approve (row update)": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [[{ "node": "Draft Outreach", "type": "main", "index": 0 }], []] },
    "Anthropic Chat Model": { "ai_languageModel": [[{ "node": "Draft Outreach", "type": "ai_languageModel", "index": 0 }]] },
    "Email Parser": { "ai_outputParser": [[{ "node": "Draft Outreach", "type": "ai_outputParser", "index": 0 }]] },
    "Draft Outreach": { "main": [[{ "node": "Human Approval Gate", "type": "main", "index": 0 }]] },
    "Human Approval Gate": { "main": [[{ "node": "Send Email + Resume", "type": "main", "index": 0 }]] },
    "Send Email + Resume": { "main": [[{ "node": "Update Tracker", "type": "main", "index": 0 }]] },
    "Update Tracker": { "main": [[{ "node": "Prep Notify", "type": "main", "index": 0 }]] },
    "Prep Notify": { "main": [[{ "node": "Notify (W8)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateId": "job-automation-5-apply" }
}
